extends layout

block content
    div.span8.offset2
        div
            form.form-horizontal(method="POST", action="/init-session")
                if (error)
                    - var classError = "error"
                else
                    - var classError = ""

                div.control-group(class=classError)
                    label.control-label(for="email") Email address:
                    div.controls
                        input(type="text", name="email", id="email", placeholder="waldo@where.mi")
                        if (error)
                            span.help-inline= error
                    
                    div.form-actions
                        button.btn.btn-primary(type="submit") Open a new session